git+https://codeberg.org/syflash/slay.py.git
discord.py~=2.7.1
edge_tts~=7.2.8
matplotlib~=3.11.1
python-dotenv~=1.2.3
python_dateutil~=2.8.2
Requests~=2.34.2
sortedcontainers~=2.4.0
typing_extensions~=4.16.0
